@charset "UTF-8";

@font-face {
    font-family:'wild wolf';
    src: url('../fontes/wild_wolf/Wild\ Wolf.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'wild brush';
    src: url('../fontes/wild_brush/WILDBRUSH.ttf');
    font-weight: normal;
}
:root {
    --cor0:#F5F5F5;
    --cor1:#E5E5E5;
    --cor2:#4A4A4A;
    --cor3:#373737; 
    --cor4:#8CA18E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-wolf: 'wild wolf', cursive;
    --fonte-brush: 'wild brush', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    color: var(--cor1);
    min-width:350px;
    padding-bottom: 10px;
    width: 100%;
}
header h1{
    font-family: var(--fonte-brush), cursive;
    font-size: 6em;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
header p {
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 10px;
    text-align: center;
}

nav{
    background-color: var(--cor4);
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.213);
    margin-bottom: 10px;
    padding: 5px;
}
nav a{
    color: var(--cor3);
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    padding: 2px 5px 2px 3px;
    transition-duration: 0.4s;
}
nav a:hover{
    background-image: radial-gradient(var(--cor3),var(--cor4)) ;
    border-radius: 5px;
    color: #8CA18E;
    text-decoration: underline;

}

main{
    background-color: var(--cor1);
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.234);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    margin-top: -10px;
    max-width: 1000px;
    min-width: 350px;
    
}
main article > h1{
    background-image: linear-gradient(270deg, var(--cor4), var(--cor2));
    border: 1px solid black;
    font-family: var(--fonte-wolf);
    font-size: 3em;
    font-weight: normal;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}
main article > h2{
    background-image: linear-gradient(to left,var(--cor1), var(--cor4));
    font-family: var(--fonte-brush);
    font-size: 1.8em;
    font-weight: normal;
    margin: auto;
    text-align: justify;
    text-indent: 60px;
    
}

main article > p {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    font-weight: normal;
    margin: auto;
    padding: 20px;
    text-align: justify;
    text-indent: 15px;
    
}
main picture{ 
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
article{
    background-color: var(--cor1);
}
aside{
    background-color: var(--cor2);
    color: var(--cor0);
    display: block;
    border-radius: 10px 10px 0px 0px;
}
aside > h2{
    background-image: linear-gradient(to right, var(--cor2), var(--cor4));
    font-family: var(--fonte-brush);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px -10px;
    text-align: center;

}
.ul{
    background-image: linear-gradient(to top, var(--cor4), var(--cor1));
    border-top: 1px solid black;
    color: var(--cor2);
    font-family: var(--fonte-wolf);
    font-size: 3em;
    font-weight: bolder;
    padding-top: 5px;
    text-align: center;

}
.ul1{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: normal;
    columns: 1;
    padding-bottom: 15px;
    padding-right: 50px;
    line-height: 1.2;
    text-align: justify;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
}
.ul2{
    background-image: linear-gradient(to top,var(--cor4), var(--cor0));
    border-top: 1px solid black ;
    color: var(--cor3);
    font-family: var(--fonte-wolf);
    font-size: 2em;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    
}
.img{
    max-width: 900px ;
    min-width: 420px;
    
}
aside > p {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    text-align: justify;
    text-indent: 15px;
    
    
}
aside > ul {
    background-color:var(--cor2);
    color: var(--cor1);
    display: block;
    font-family: var(--fonte-padrao);
    font-size: 1.8em;
    text-align: center;
    list-style-type:'\2714\00a0\00a0';
    list-style-position: inside;
    columns: 1;    
}
footer{
    background-color: var(--cor3);
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
     
}
